@charset "UTF-8";

/*reset*/
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,form,input{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;}
img{border:none;}
input{outline:none;}
body{font:14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC",
    "WenQuanYi Micro Hei",sans-serif;color:#333;}

/*public*/
.clear{zoom:1;}
.clear:after{content:"";display:block;clear:both;}
.fl{float:left;}
.fr{float:right;}
.show{display:block;}
.hide{display:none;}

.container{width:1226px;margin:0 auto;}

/*顶部topbar*/
#topbar{height:40px;font-size:12px;background:#333;}
#topbar .nav{overflow:hidden;}
#topbar .nav,#topbar .login{height:40px;line-height:40px;}
#topbar .nav a,#topbar .login a{color:#b0b0b0;}
#topbar .nav a:hover,#topbar .login a:hover{color:#f8f8f8;}
#topbar .nav .sep,#topbar .login .sep{color:#424242;margin:0 0.35em;}
#topbar .cart{width:120px;margin-left:20px;position:relative;}
#topbar .cart .cart-link{display:block;height:40px;line-height:40px;background:#424242;color:#b0b0b0;text-align:center;}
#topbar .cart .cart-link .icon{display:inline-block;width:20px;height:20px;vertical-align:-3px;margin-right:5px;
    background:url("../img/icon/icon-cart.png") no-repeat 0 0;}
#topbar .cart .active{background:#fff;color:#ff6700;}
#topbar .cart .active .icon{background-position:0 -20px;}
#topbar .cart .cart-down{display:none;position:absolute;top:40px;right:0;width:320px;height:100px;line-height:100px;
    background:#fff;text-align:center;box-shadow:0 2px 2px rgba(0,0,0,0.2);color:#424242;}
#topbar .cart .active .cart-down{display:block}

/*头部导航header*/
#header .container{padding-top:22px;padding-bottom:23px;}
#header .logo{width:55px;background:#ff6700;}
#header .logo a{display:block;width:55px;height:55px;background:url("../img/mi-logo.png") no-repeat center;}
#header .nav ul{margin-left:180px;}
#header .nav li{float:left;height:55px;line-height:55px;margin:0 10px;}
#header .nav li a{font-size:16px;color:#333;}
#header .nav li a:hover{color:#ff6700;}
#header .search form{width:296px;height:50px;margin-top:3px;margin-bottom:2px;position:relative;}
#header .search .text,#header .search .button-wrapper{position:absolute;top:0;}
#header .search .text{right:51px;width:223px;height:48px;padding:0 10px;font-size:14px;line-height:48px;border:1px solid #e0e0e0;}
#header .search .button-wrapper{right:0;width:50px;height:48px;border:1px solid #e0e0e0;z-index:2;}
#header .search .btn{width:50px;height:48px;border:none;background:url("../img/icon/icon-search.png") no-repeat 0 0;}
#header .search .hover .text,#header .search .hover .button-wrapper{border:1px solid #b0b0b0;}
#header .search .focus .text,#header .search .focus .button-wrapper{border:1px solid #ff6700;}
#header .search .button-wrapper:hover{border-color:#ff6700;}
#header .search .btn:hover{background-position:0 -50px;}
#header .search .hot{position:absolute;top:14px;right:61px;z-index:3;}
#header .search .hot a{display:inline-block;font-size:12px;color:#757575;background:#eee;padding:0 5px;}
#header .search .hot a:hover{background:#ff6700;color:#fff;}
#header .tips{display:none;position:absolute;top:49px;left:0;border:1px solid #ff6700;}
#header .search li a{display:block;width:213px;height:30px;line-height:30px;padding:0 15px;font-size:12px;background:#fff;}
#header .search li a:hover{background:#f7f7f7;}
#header .search li .name{color:#5e5e5e;}
#header .search li .num{float:right;color:#c7c7c7;}
#header .dropdown{display:none;height:229px;border-top:1px solid #e0e0e0;box-shadow:0 3px 3px rgba(0,0,0,0.2);background:#fff;}
#header .dropdown .container{padding:0;}
#header .dropdown ul{padding-top:35px;height:195px;}
#header .dropdown li{float:left;width:203px;height:100px;border-left:1px solid #e0e0e0;font-size:11px;text-align:center;}
#header .dropdown .first{border-left:none;}
#header .dropdown .pic{width:160px;height:110px;margin-left:auto;margin-right:auto;margin-bottom:16px;}
#header .dropdown .pic a{display:block;}
#header .dropdown .pic a,#header .dropdown .pic img{width:160px;height:110px;}
#header .dropdown p{display:block;height:20px;line-height:20px;}
#header .dropdown .title a{color:#5e5e5e;}
#header .dropdown .price{color:#ff6700;}

/*home展示区*/
#home .slider{width:1226px;margin-bottom:14px;position:relative;}
#home .slider .img{height:460px;position:relative;}
#home .slider .img a{display:block;position:absolute;top:0;left:0;}
#home .slider .img a,#home .slider .img img{width:1226px;height:460px;}
#home .direction{position:absolute;top:195px;left:234px;width:992px;}
#home .direction .prev,#home .direction .next{display:inline-block;width:41px;height:69px;}
#home .direction .prev{float:left;background:url("../img/icon/icon-slides.png") no-repeat -83px 0;}
#home .direction .next{float:right;background:url("../img/icon/icon-slides.png") no-repeat -123px 0;}
#home .direction .prev:hover{background-position:0 0;}
#home .direction .next:hover{background-position:-41px 0;}
#home .pager{position:absolute;right:35px;bottom:25px;}
#home .pager a{display:block;width:6px;height:6px;float:left;margin:0 5px;border-radius:50%;background:#e8e8e8;border:2px solid #757575;}
#home .pager a:hover,#home .pager a.active{background:#757575;border-color:#e8e8e8;}
#home .nav{position:absolute;top:0;left:0;}
#home .nav .category-list{width:234px;padding-top:20px;padding-bottom:20px;background-color:#333;
        background:rgba(0,0,0,0.6);position:relative;}
#home .nav .category-list .title{display:block;height:42px;line-height:42px;padding-left:29px;color:#fff;font-size:14px;
    background-image:url("../img/icon/icon-right.png");background-repeat:no-repeat;background-position: 200px 13px;}
#home .nav .category-list .title:hover{background-color:#ff6700;}
#home .list-1,#home .nav .list-2,#home .nav .list-3{display:none;position:absolute;top:0;left:234px;height:458px;background:#fff;
    border-top:1px solid #e0e0e0;border-right:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;box-shadow:0 8px 16px rgba(0,0,0,0.18);}
#home .list-1{width:265px;}
#home .list-2{width:530px;}
#home .list-3{width:795px;}
#home .category li{width:235px;padding:18px 10px 18px 20px;position:relative;}
#home .category li .thumb{display:block;height:40px;line-height:40px;color:#333;}
#home .category li .thumb:hover{color:#ff6700;}
#home .category li img{width:40px;height:40px;margin-right:12px;vertical-align:middle;}
#home .category li span{iline-height:40px;}
#home .category li .buy{position:absolute;top:24px;right:10px;display:block;width:58px;height:22px;line-height:24px;
    border: 1px solid #ff6700;font-size:11px;text-align:center;color:#ff6700;}
#home .category li .buy:hover{background:#ff6700;color:#fff;}
#home .hot{margin-bottom:26px;}
#home .hot .channel{width:234px;height:170px;float:left;background:#5f5750;}
#home .hot .channel ul{padding:3px;}
#home .hot .channel li{float:left;width:70px;padding:17px 0;margin:0 3px;text-align:center;}
#home .hot .channel .row1{border-bottom:1px solid #665e57;}
#home .hot .channel .row2{padding-bottom:16px;}
#home .hot .channel .col2{position:relative;}
#home .hot .channel .col2:before,#home .hot .channel .col2:after{position:absolute;top:6px;content:"";width:1px;
    height:70px;background:#665e57;}
#home .hot .channel .col2:before{left:-3px;}
#home .hot .channel .col2:after{right:-3px;}
#home .hot .channel a{display:block;width:70px;height:48px;color:#cdcac8;font-size:11px;
    background:url("../img/icon/icon-channel.png") no-repeat;line-height:78px;overflow:hidden;}
#home .hot .channel .icon-phone{background-position:0 0;}
#home .hot .channel .icon-group{background-position:-70px 0;}
#home .hot .channel .icon-product{background-position:-140px 0;}
#home .hot .channel .icon-mobile{background-position:0 -96px;}
#home .hot .channel .icon-new{background-position:-70px -96px;}
#home .hot .channel .icon-charge{background-position:-140px -96px;}
#home .hot .channel  a:hover{color:#fff;}
#home .hot .channel .icon-phone:hover{background-position:0 -48px;}
#home .hot .channel .icon-group:hover{background-position:-70px -48px;}
#home .hot .channel .icon-product:hover{background-position:-140px -48px;}
#home .hot .channel .icon-mobile:hover{background-position:0 -144px;}
#home .hot .channel .icon-new:hover{background-position:-70px -144px;}
#home .hot .channel .icon-charge:hover{background-position:-140px -144px;}
#home .hot .list{width:978px;height:170px;float:right;}
#home .hot .list li{width:316px;float:left;margin-left:15px;}
#home .hot .list .first{margin-left:0;}
#home .hot .list a{display:block;}
#home .hot .list a,#home .hot .list img{width:316px;height:170px;}
#home .hot .list a:hover{box-shadow:0 15px 30px rgba(0,0,0,0.1);}
#home .start .title{position:relative;}
#home .start h2{font-size:22px;font-weight:200;color:#333;height:58px;line-height:58px;}

.control{position:absolute;right:0;bottom:10px;width:70px;height:22px;border:1px solid #e0e0e0;}
.control a{display:inline-block;width:34px;height:22px;background:url("../img/icon/icon-control.png") no-repeat;
    position:absolute;top:0;}
.control .prev{left:0;border-right:1px solid #e0e0e0;background-position:-34px -22px;}
.control .next{right:0;background-position:-34px 0;}
.control .prev:hover{background-position:-68px -22px;}
.control .next:hover{background-position:-68px 0;}
.control .prev.disable{background-position:0 -22px;}
.control .next.disable{background-position:0 0;}

#home .product{margin-bottom:40px;overflow:hidden;}
#home .product ul{width:2466px;}
#home .product li{float:left;width:234px;height:339px;border-top:1px solid #ff6700;text-align:center;background:#fafafa;
    margin-left:14px;}
#home .product li.first{margin-left:0;}
#home .product li.one{border-top-color:#ffac13;}
#home .product li.two{border-top-color:#83c44e;}
#home .product li.three{border-top-color:#2196f3;}
#home .product li.four{border-top-color:#e53935;}
#home .product li.five{border-top-color:#00c0a5;}
#home .product li .thumb{display:block;margin:40px auto 22px auto;}
#home .product li .thumb,#home .product li img{width:160px;height:160px;}
#home .product h3 a{font-size:14px;font-weight:normal;color:#212121;}
#home .product .info{font-size:12px;color:#b0b0b0;margin-top:2px;margin-bottom:12px;}
#home .product .price{color:#ff6700;}

/*main主要产品区*/
#main .smart,#main .match,#main .accessories,#main .around,#main .recommend,#main .content{margin-bottom:22px;}
#main{background:#f5f5f5;padding-top:60px;padding-bottom:60px;}
#main .title {position:relative;}
#main .title h2{font-size:22px;font-weight:200;color:#333;height:58px;line-height:58px;}
#main .title div{position:absolute;right:0;top:17px;height:24px;line-height:24px;}
#main .title .more a{display:inline-block;width:92px;background:url("../img/icon/icon-more.png") no-repeat 72px -24px;
    font-size:16px;color:#424242;}
#main .title .more a:hover{color:#ff6700;background-position:72px 0px;}
#main .title .nav li{float:left;font-size:16px;color:#424242;margin-left:30px;cursor:pointer;}
#main .title .nav li.active{color:#ff6700;border-bottom:2px solid #ff6700;}

.side-1 li,.side-2 li,.item-m,.item-s{transition: all .2s linear;}
.side-1 li:hover,.side-2 li:hover,.item-m:hover,#main .item-s:hover{box-shadow:0 15px 30px rgba(0,0,0,0.1);
    transform:translate3d(0, -2px, 0);}

#main .free{background:#ffac13;}
#main .new{background:#83c44e;}
#main .gift{background:#2196f3;}
#main .sale{background:#e53935;}
#main .side-1,#main .side-2{width:234px;height:614px;}
#main .side-1 a,#main .side-2 a{display:block;margin-bottom:14px;}
#main .side-1 a,#main .side-1 img{width:234px;height:614px;}
#main .side-2 a,#main .side-2 img{width:234px;height:300px;}
#main .brick{width:992px;height:614px;}
#main .item-m{float:left;width:234px;height:280px;padding-top:20px;margin:0 0 14px 14px;text-align:center;
    background:#fff;overflow:hidden;position:relative;}
#main .item-m .figure{display:block;margin:14px auto 15px auto;width:150px;height:150px;}
#main .item-m img{width:150px;height:150px;}
#main .item-m .flag{position:absolute;top:0;left:50%;width:64px;height:20px;margin-left:-32px;font-size:12px;color:#fff;}
#main .item-m .name{font-size:14px;color:#333;font-weight:normal;}
#main .item-m .info{font-size:12px;color:#b0b0b0;margin-top:3px;margin-bottom:10px;}
#main .item-m .evaluate{font-size:12px;color:#b0b0b0;margin:10px 0;}
#main .item-m .price{font-size:14px;color:#ff6700;}
#main .item-m .price del{color:#b0b0b0;}
#main .item-m .comment{display:block;width:174px;position:absolute;left:0;bottom:-76px;padding:8px 30px;height:60px;
    background:#ff6700;font-size:12px;text-align:left;}
#main .item-m .review{display:block;color:#fff;}
#main .item-m .author{display:block;color:#ffc299;margin-top:5px;}
#main .item-s{float:left;width:234px;height:103px;padding-top:40px;margin:0 0 14px 14px;background:#fff;overflow:hidden;
    position:relative;}
#main .item-s .figure{display:block;width:80px;height:80px;position:absolute;right:20px;top:32px;}
#main .item-s img{width:80px;height:80px;}
#main .item-s .name{display:block;width:94px;height:21px;font-size:14px;color:#333;font-weight:normal;margin-bottom:2px;
    margin-left:30px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
#main .item-s .price{font-size:14px;color:#ff6700;margin-top:5px;margin-left:30px;}
#main .item-s .scan{display:block;font-size:18px;color:#333;font-weight:normal;margin-top:10px;margin-left:30px;}
#main .item-s .hot{font-size:12px;color:#818181;margin-left:30px;}
#main .item-s .icon-scan{position:absolute;top:48px;right:35px;display:block;width:48px;height:48px;
    background:url("../img/icon/icon-scan.png") no-repeat;}
#main .smart .item-m .figure{margin-top:0;width:160px;height:160px;}
#main .smart .item-m img{width:160px;height:160px;}
#main .recommend .first{margin-left:0;}
#main .recommend .brick{width:1226px;height:300px;overflow:hidden;position:relative;}
#main .recommend .brick ul{width:4946px;}
#main .recommend .item-m .figure{margin-top:20px;width:150px;height:140px;}
#main .recommend .item-m img{width:140px;height:140px;}
#main .recommend .item-m .price{margin-top:10px;}
#main .recommend .item-m .evaluate{font-size:14px;color:#757575;}
#main .comment li{float:left;width:296px;height:415px;margin-left:14px;background:#fff;margin-bottom:22px;
    transition: all .2s linear;}
#main .comment li.first{margin-left:0;}
#main .comment li:hover{box-shadow:0 15px 30px rgba(0,0,0,0.1);transform:translate3d(0, -2px, 0);}
#main .comment li .figure{display:block;margin-bottom:28px;}
#main .comment li .figure,#main .comment img{width:296px;height:220px;}
#main .comment li .review{height:72px;margin:0 28px 22px;font-size:14px;line-height:24px;overflow:hidden;}
#main .comment li .review a{color:#333;}
#main .comment li .author{position:relative;height:18px;margin:0 28px 8px;padding:0 10px 0 0;font-size:12px;color:#b0b0b0;}
#main .comment li .info{margin-left:28px;height:20px;line-height:20px;}
#main .comment li h3{display:inline;}
#main .comment li .sep{margin:0 0.4em;color:#e0e0e0;}
#main .comment li .name{display:inline-block;font-size:14px;font-weight:normal;color:#333;height:18px;}
#main .comment li .price{display:inline;font-size:12px;color:#ff6700;}
#main .video li{float:left;width:296px;height:285px;margin-left:14px;background:#fff;text-align:center;
    transition: all .2s linear;}
#main .video li.first{margin-left:0;}
#main .video .figure{display:block;margin-bottom:28px;position:relative;}
#main .video .figure,#main .video img{width:296px;height:180px;}
#main .video li .title{margin-bottom:6px;}
#main .video li .title a{font-size:14px;color:#333;font-weight:normal;}
#main .video li .title a:hover{color:#ff6700;}
#main .video li .desc{font-size:12px;color:#b0b0b0;}
#main .video li .play{width:32px;height:20px;border:2px solid #fff;position:absolute;left:20px;bottom:10px;border-radius:12px;
    background-image:url("../img/icon/icon-play.png");background-repeat:no-repeat;background-position:center;
    background-color:#424242;background-color:rgba(0,0,0,0.6);}
#main .video .active .play{border-color:#ff6700;background-color:#ff6700;}
#main .video li:hover{box-shadow:0 15px 30px rgba(0,0,0,0.1);transform:translate3d(0, -2px, 0);}

    /*footer底部服务信息区*/
#footer .service{padding:27px 0;border-bottom:1px solid #e0e0e0;}
#footer .service li{float:left;width:243px;border-left:1px solid #e0e0e0;}
#footer .service li.first{border-left:none;}
#footer .service li a{display:block;width:130px;height:25px;line-height:25px;margin:0 auto;padding-left:30px;font-size:16px;
    color:#616161;background:url("../img/icon/icon-service.png") no-repeat;}
#footer .service li a.one{background-position:0 -25px;}
#footer .service li a.seven{background-position:0 -75px;}
#footer .service li a.fifteen{background-position:0 -125px;}
#footer .service li a.free{background-position:0 -175px;}
#footer .service li a.after{background-position:0 -225px;}
#footer .service li a.one:hover{background-position:0 0;color:#ff6700;}
#footer .service li a.seven:hover{background-position:0 -50px;color:#ff6700;}
#footer .service li a.fifteen:hover{background-position:0 -100px;color:#ff6700;}
#footer .service li a.free:hover{background-position:0 -150px;color:#ff6700;}
#footer .service li a.after:hover{background-position:0 -200px;color:#ff6700;}
#footer .link{padding:40px 0;}
#footer .link dl{float:left;width:160px;height:112px;}
#footer .link dt{height:17px;line-height:17px;margin-bottom:26px;font-size:14px;color:#424242;}
#footer .link dd{height:18px;line-height:18px;margin-top:10px;}
#footer .link dd a{font-size:11px;color:#7d8181;}
#footer .link dd a:hover{color:#ff6700;}
#footer .contact{width:251px;float:right;border-left:1px solid #e0e0e0;text-align:center;}
#footer .contact strong{display:block;height:22px;line-height:22px;font-size:22px;font-weight:normal;color:#ff6700;margin-bottom:5px;}
#footer .contact p{font-size:12px;color:#616161;margin-bottom:16px;}
#footer .contact a{display:inline-block;width:94px;height:28px;line-height:28px;color:#ff6700;border:1px solid #ff6700;
    font-size:12px;padding-left:24px;background:url("../img/icon/icon-contact.png") no-repeat 0 -28px;text-align:left;}
#footer .contact a:hover{background-color:#ff6700;background-position:0 0;color:#fff;}

/*底部info区域*/
#info{padding:30px 0;background:#fafafa;}
#info .logo{width:57px;height:57px;background:url("../img/logo-footer.png") no-repeat center;margin-right:10px;}
#info .info a{font-size:12px;color:#818181;}
#info .info a:hover{color:#ff6700;}
#info .info .sep{color:#b0b0b0;margin:0;}
#info .info p,#info .info p a{font-size:12px;color:#b0b0b0;}
#info .link{padding-top:4px;}
#info .link img{width:auto;height:28px;margin-left:7px;}
#info .slogan{clear:both;width:267px;height:19px;margin:30px auto 0 auto;background:url("../img/slogan2016.png") no-repeat;}
