@charset "UTF-8";

/*reset*/
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,form,input,textarea,th,td,select{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;}
img{border:none;}
table{border-collapse:collapse;}
input,textarea{outline:none;}
body{font:14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;color:#333;}

.container{width:1226px;margin:0 auto;zoom:1}
.container:after{content:"";display:block;clear:both}

/*header*/
#header .container{padding:22px 0 23px 0;}

#header .logo{float:left;width:55px;background:#ff6700;}
#header .logo a{display:block;width:55px;height:55px;background:url("../img/mi-logo.png") no-repeat center;}

#header .nav{float:left;}
#header .nav ul{height:55px;margin-left:180px;}
#header .nav .nav-list{display:list-item;float:left;height:55px;line-height:55px;margin:0 10px;}
#header .nav .nav-list a{font-size:15px;color:#333;}
#header .nav .nav-list a:hover{color:#ff6700;}

#header .search{float:right;}
#header .search form{width:296px;height:50px;margin:3px 0 2px;position:relative;}
#header .search .text{position:absolute;top:0;right:51px;width:223px;height:48px;z-index:1;padding:0 10px;
    border:1px solid #e0e0e0;font-size:14px;line-height:48px;}
#header .search .btn{position:absolute;top:0;right:0;width:52px;height:50px;z-index:2;background:none;
    border:1px solid #e0e0e0;}
#header .search .btn:hover{background-color:#ff6700;border:1px solid #ff6700;}

#header .search .hot{position:absolute;top:14px;right:61px;z-index:3;}
#header .search .hot a{display:inline-block;font-size:12px;color:#757575;background-color:#eee;padding:0 5px;}
#header .search .hot a:hover{background-color:#ff6700;color:#fff;}

#header .tips{display:none;position:absolute;top:49px;left:0;border:1px solid #ff6700;}
#header .search li a{display:block;width:213px;height:30px;line-height:30px;padding:0 15px;font-size:12px;}
#header .search li a:hover{background-color:#f7f7f7;}
#header .search li .name{color:#5e5e5e;}
#header .search li .num{float:right;color:#c7c7c7;}

#header .dropdown{height:229px;border-top:1px solid #e0e0e0;box-shadow:0 3px 3px rgba(0,0,0,0.2);}
#header .dropdown .container{padding-top:35px;}
#header .dropdown li{float:left;width:203px;height:100px;border-left:1px solid #e0e0e0;text-align:center;}
#header .dropdown .pic{width:160px;height:110px;margin-left:auto;margin-right:auto;margin-bottom:15px;}
#header .dropdown .pic a{display:block;}
#header .dropdown .pic a,#header .dropdown .pic img{width:160px;height:110px;}
#header .dropdown .first{border-left:none;}
#header .dropdown .title a{color:#5e5e5e;}
#header .dropdown .price{color:#ff6700;}
